@model ToDoList.Models.ToDoItem
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>CreaItem</title>
    </head>
    <body>
        <div class="panel-edit">
            <form asp-controller="ToDoItem" asp-action="CreateItem" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="Title">
                    <input asp-for="Title" placeholder="Заголовок" />
                </div>
                <div class="Description">
                    <textarea asp-for="Description" placeholder="Введите текст..."></textarea>
                </div>
                <div class="btn-submit">
                    <input type="submit" value="Добавить задачу" />
                </div>
            </form>
        </div>
    </body>
    </html>