@model ToDoList.Models.ToDoItem

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Item</title>
</head>
<body>
    <div class="ToDoItem">
        <div class="Todo-Title">@Model.Title</div>
        <div class="Todo-Desc">@Model.Description</div>
    </div>
    
</body>
</html>