body {
    font-family: 'Open Sans', sans-serif;
    background: #757575;
    margin: 0 auto;
    padding: 2px;
    max-width: 960px;
    height: 100vh;
    
}
h1 {
    color: red;
    transform: rotate(45deg);
    margin-top: -15px;
    float: right;
}

/*title*/
.block_title {
    margin-top: 40px;
    color: white;
    font-size: 90px;
    z-index: 1;
    text-align: center;
    
}

.form_input{
    height: 40px;
    color: white;
}

    .form_input input {
        height: 30px;
        width: 900px;
    }

.form_input_edit input{
    margin-top: 170px;
    height: 40px;
    color: white;
    width: 900px;
}

    .form_input_edit input {
        height: 40px;
    }

.btn_sbmt {
    font-size:25px;
    color:white;
    background:none;
    border: none;
    cursor:pointer;
    vertical-align:middle;
}

.edit_btn_sbmt {
    font-size: 25px;
    color: #878787;
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

.edit_btn_sbmt:hover {
    color: green;
    transition: color .2s linear;
}

.block-items {
    margin: 30px 300px 300px 300px;
}

#block_list {
    border-radius: 10px;
    background: #d04d4d;
    border: 1px solid #d04d4d;
}

#container{
    border-radius: 10px;
    border:  none;
    margin: 10px;
    background: white;
    height: 100px;
    padding: 10px;
}

.block-btn {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: end;
    line-height: 30px;
}

.block-desc {
    display: flex;
    flex-direction: column;
    float: left;
    line-height: 30px;
}

.item-deadline{
    font-size: 14px;
}

.item-deadline span {
    font-size: 12px;
    color: #878787;
}


/*Done items*/

h1 {
    color: red;
    z-index: 1500;
    transform: rotate(45deg);
}

#Done-tasks{
    border: 1px solid;
    font-size: 25px;
    color: white;
    text-decoration: none;
}