body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(175,6,94);
    background: linear-gradient(45deg, rgba(175,6,94,1) 24%, rgba(67,9,121,1) 69%);
    height: 950px;
    margin: 2px;
    padding: 2px;
    
}

.block_title{
    margin-left:40%;
    margin-top: 40px;
    color:white;
    font-size: 90px;
    width: 400px;
    z-index:1;
    position:relative;
}
