@model IEnumerable<ToDoList.Models.ToDoItem> 

@{
    ViewData["Title"] = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="add-item">
        <a asp-controller="ToDoItem" asp-action="CreateItem">Добавит</a>
    </div>
    <div>
        @foreach (var item in Model)
        {
            <ul>
                <li>
                    <a asp-controller = "ToDoItem" asp-action="ToDoItem" asp-route-id="@item.Id">
                        @item.Title
                    </a>
                </li>
            </ul>
        }
    </div>
</body>
</html>

