@model IEnumerable<ToDoList.Models.ToDoItem>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://code.iconify.design/3/3.0.0/iconify.min.js"></script>
</head>
<body>
    <a id="button" asp-controller="Home" asp-action="Index">Активные таски</a>
    <div id="block_list">
        @foreach (var item in Model)
        {
            if (item.IsDone == true) 
            {
                <div id="container">
                    <div class="block-desc-done">
                        <div class="item-title-done">
                            @item.Title
                        </div>
                        <div class="item-deadline-done">
                            <span>Завершить до </span>@item.DeadLineDate.ToString("MM/dd/yyyy")
                        </div>
                    </div>
                    <h1>DONE</h1>
                    <div class="block-btn-done">
                        <div class="item-date-create">
                            @item.DateTimeCreate.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                </div>
            }
            else continue;
        }
    </div>
</body>
</html>

